#################################
# APP
#################################

APP_NAME=artelier-api
SERVER_PORT=8080

#################################
# DATABASE
#################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=artelier
DB_USERNAME=postgres
DB_PASSWORD=postgres

#################################
# JWT
#################################

JWT_SECRET=change_this_to_a_very_long_secure_secret_key_123456
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_DAYS=7

#################################
# CLOUDINARY
#################################

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

#################################
# CORS
#################################

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

#################################
# FLYWAY
#################################

FLYWAY_ENABLED=true

#################################
# JPA
#################################

JPA_DDL_AUTO=validate
JPA_SHOW_SQL=false

#################################
# SWAGGER
#################################

SWAGGER_ENABLED=true

#################################
# ACTUATOR
#################################

ACTUATOR_EXPOSE=health,info,metrics


#################################
# WOMPI
#################################

WOMPI_EVENTS_KEY=test_events_xxx
WOMPI_PUBLIC_KEY=pub_test_xxx
WOMPI_PRIVATE_KEY=priv_test_xxx
WOMPI_INTEGRITY_SECRET=test_integrity_xxx
WOMPI_BASE_URL=https://sandbox.wompi.co/v1
WOMPI_REDIRECT_URL=https://tu-frontend-sandbox.com/payment/result

#################################
# CAFFEINE
#################################

CAFFEINE_MAXIMUM_SIZE=xxx
CAFFEINE_EXPIRE_AFTER_WRITE=xm